.bg-blue {
    background-color: #66FFFF;
}

.bg-red {
    background-color: #FF6666;
}

.bg-lightblue {
    background-color: #AAFFFF;
}

.bg-lightred {
    background-color: #FFAAAA;
}

table td input {
    width: 100%;   
}

tbody tr:nth-child(odd){
    background-color: #DDDDDD;
}

div.jQBracket .team:nth-child(1) {
    background-color: #AAFFFF;
}
div.jQBracket .team:nth-child(2) {
    background-color: #FFAAAA;
}
div.jQBracket .team.bye {
    background-color: #999;
    color: #000;
}
div.jQBracket .team.highlight {
    background-color: #3c0;
}
div.jQBracket .team.na {
    color: #000;
}