<h2>Person {{currentPerson.DisplayName}}</h2>
Id: {{currentPerson.Id}}<br />

First name: <input placeholder="First name" type="text" ng-model="currentPerson.FirstName" /><br />
Last name prefix: <input placeholder="Last name prefix" type="text" ng-model="currentPerson.LastNamePrefix" /><br />
Last name: <input placeholder="Last name" type="text" ng-model="currentPerson.LastName" /><br />
Full name: <input placeholder="Full name" type="text" ng-model="currentPerson.FullName" /><br />
Country: <select ng-model="currentPerson.CountryCode">
    <option ng-repeat="(countryCode,country) in countries" data-image="Content/flags/{{countryCode}}.svg" value="{{countryCode}}">{{country}}</option>
</select><br />
{{currentPerson.Organization}}<br />
<button ng-click="savePerson()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
<input list="organizations" placeholder="Organization" type="text" ng-model="personOrganization" />
<datalist id="organizations">
    <option ng-repeat="organization in organizations">{{organization}}</option>
</datalist>
<button ng-click="addOrganization()">+</button>
<button ng-click="removeOrganization()">-</button>