<h2>Match rules</h2>

<label for="Name">Name</label>
<input type="text" id="Name" ng-model="rules.Name" />

<div class="form-row">
    <div class="col-lg-6">
        <h3>Match</h3>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right"><input type="number" class="text-right" min="1" max="99" id="Rounds" ng-model="rules.Rounds" /></div>
            <label class="col col-sm-9 p-sm-0" for="Rounds">Number of <strong>rounds</strong></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="SplitRounds" ng-model="rules.SplitRounds" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="SplitRounds"><strong>Split</strong> rounds</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right"><input type="time" id="TimeMax" class="text-right" ng-model="editTimeMax" step="1" required="required" /></div>
            <label class="col col-sm-9 p-sm-0" for="TimeMax">Maximum <strong>time</strong> per round<br /><small>(0:00 for no maximum)</small></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="number" class="text-right" min="0" max="99" id="PointsMax" ng-model="rules.PointsMax" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="PointsMax">Maximum number of <strong>points</strong> per round<br /><small>(0 for no maximum)</small></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="CountDownScore" ng-model="rules.CountDownScore" ng-disabled="rules.PointsMax <= 0"/>
            </div>
            <label class="col col-sm-9 p-sm-0" for="RecordProtests"><strong>Count down</strong> points per round</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="number" class="text-right" min="0" max="99" id="ExchangesMax" ng-model="rules.ExchangesMax" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="ExchangesMax">Maximum number of <strong>exchanges</strong> per round<br /><small>(0 for no maximum)</small></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="RecordProtests" ng-model="rules.RecordProtests" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="RecordProtests">Record <strong>protest</strong></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="RecordSportsmanship" ng-model="rules.RecordSportsmanship" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="RecordSportsmanship">Record <strong>sportsmanship</strong></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="RecordWarnings" ng-model="rules.RecordWarnings" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="RecordWarnings">Record <strong>warning</strong></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="RecordPenalties" ng-model="rules.RecordPenalties" />
            </div>
            <div class="col col-sm-9 p-sm-0">
                <label for="RecordPenalties">Record <strong>penalties</strong></label>
                for <input type="number" class="text-right" min="0" max="9" id="PenaltyPoints" ng-model="rules.PenaltyPoints" />
                <label for="PenaltyPoints">points <strong>deduction</strong></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="RecordMatchPointDeductions" ng-model="rules.RecordMatchPointDeductions" />
            </div>
            <div class="col col-sm-9 p-sm-0">
                <label for="RecordMatchPointDeductions">Record <strong>penalties</strong></label>
                for <input type="number" class="text-right" min="0" max="9" id="MatchPointDeductionPoints" ng-model="rules.MatchPointDeductionPoints" />
                <label for="MatchPointDeductionPoints">match points <strong>deduction</strong></label>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h3>Exchange</h3>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="number" class="text-right" min="1" max="9" id="ExchangePointsMax" ng-model="rules.ExchangePointsMax" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="ExchangePointsMax">Maximum number of <strong>points</strong> per exchange</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="checkbox" id="BothCanScore" ng-model="rules.BothCanScore" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="BothCanScore"><strong>Both</strong> fighters can score points in an exchange</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="checkbox" id="SubtractPoints" ng-model="rules.SubtractPoints" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="SubtractPoints"><strong>Subtract</strong> the points in an exchange</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="checkbox" id="RecordUnclearExchanges" ng-model="rules.RecordUnclearExchanges" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="RecordUnclearExchanges">Record <strong>unclear</strong> exchanges</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="checkbox" id="RecordAfterblow" ng-model="rules.RecordAfterblow" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="RecordAfterblow">Record <strong>afterblow</strong></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="AfterblowScores" ng-model="rules.AfterblowScores" ng-disabled="!rules.RecordAfterblow" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="AfterblowScores">Afterblow <strong>scores</strong> points</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="checkbox" id="RecordDoubleHits" ng-model="rules.RecordDoubleHits" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="RecordDoubleHits">Record <strong>double</strong> hits</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="checkbox" id="DoubleHitScores" ng-model="rules.DoubleHitScores" ng-disabled="!rules.RecordDoubleHits" />
            </div>
            <label class="col col-sm-9 p-sm-0" for="DoubleHitScores">Double hits <strong>scores</strong> points</label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-3 text-sm-right">
                <input type="number" class="text-right" min="0" max="9" id="DoubleHitMax" ng-model="rules.DoubleHitMax" ng-disabled="!rules.RecordDoubleHits" />
            </div>
            <label class="col col-sm-9 p-sm-0" ng-class="{'disabled':!rules.RecordDoubleHits}" ng-disabled="!rules.RecordDoubleHits" for="DoubleHitMax"><strong>Maximum</strong> number of double hits per match<br /><small>(0 for no maximum)</small></label>
        </div>
        <div class="form-group row">
            <div class="col-auto col-sm-2 text-sm-right">
                <input type="checkbox" id="RecordNotes" ng-model="rules.RecordNotes" />
            </div>
            <label class="col col-sm-10 p-sm-0" for="RecordNotes">Record exchange <strong>notes</strong></label>
        </div>
    </div>
</div>
<button type="button" class="btn" ng-click="saveMatchRules()">Submit</button>


