<h2 align="center">
    <span class="d-none d-md-inline">
        <a href="#!ShowCompetition/{{currentMatch.CompetitionId}}">{{currentMatch.Competition}}</a>
        - <a href="#!ShowPhase/{{currentMatch.PhaseId}}">{{currentMatch.Phase}}</a> -
    </span>
    <span class="d-none d-sm-inline">
        <span ng-show="currentMatch.PoolId"><a href="#!ShowPool/{{currentMatch.PoolId}}">{{currentMatch.Pool}}</a> - </span>
    </span>{{currentMatch.Name}}
</h2>
<div class="container">
    <div class="row">
        <div class="col-6 bg-blue" align="left">
            <strong>{{currentMatch.FighterBlue}}</strong>
        </div>
        <div class="col-6 bg-red" align="right">
            <strong>{{currentMatch.FighterRed}}</strong>
        </div>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-6 bg-blue" align="left">
            {{currentMatch.FighterBlueOrganization}}
        </div>
        <div class="col-6 bg-red" align="right">
            {{currentMatch.FighterRedOrganization}}
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <span ng-show="!editingTime" ng-class="{'warning': rules.TimeMaxSeconds > 0 && currentMatch.LiveTime >= rules.TimeMaxSeconds}"><strong>{{currentMatch.LiveTime | timespanmili}}</strong></span>
            <input type="time" ng-show="editingTime" id="exampleInput" name="input" ng-model="editTime" step="1" required="required" />
            <br />
            <button type="button" class="btn" ng-click="startTime()"><i class="fa fa-play" aria-hidden="true"></i></button>
            <button type="button" class="btn" ng-click="changeEditTime()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="btn" ng-click="stopTime()"><i class="fa fa-pause" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <div ng-repeat="n in [] | range:(rules.ExchangePointsMax?rules.ExchangePointsMax:1):(rules.ConfirmScores?0:1)" class="p-1 bg-blue">
                <button type="button" class="btn" ng-class="{'disabled': addEventPointBlue == n, 'font-weight-bold': addEventPointBlue == n}" ng-click="setScoreBlue(n)">{{n}}</button>
            </div>
        </div>
        <div style="width: 90px;" class="bg-blue text-center" ng-class="{'warning': rules.PointsMax > 0 && currentMatch.ScoreBlue >= rules.PointsMax}">
            <h1>{{currentMatch.ScoreBlue}}</h1>
        </div>
        <div  style="width: 90px;" class="bg-red text-center" ng-class="{'warning': rules.PointsMax > 0 && currentMatch.ScoreRed >= rules.PointsMax}">
            <h1>{{currentMatch.ScoreRed}}</h1>
        </div>
            <div ng-repeat="n in [] | range:(rules.ConfirmScores?0:1):(rules.ExchangePointsMax?rules.ExchangePointsMax:1)" class="p-1 bg-red">
                <button type="button" ng-class="{'disabled': addEventPointRed == n, 'font-weight-bold': addEventPointRed == n}" class="btn" ng-click="setScoreRed(n)">{{n}}</button>
            </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-1" ng-show="rules.RecordDoubleHits">
            <button type="button" class="btn" ng-class="{'disabled': rules.DoubleHitScores && addEventPointBlue == 0 && addEventPointRed == 0}" ng-click="addMatchEvent(0,0,'DoubleHit')">Double</button>
        </div>
        <div class="p-1" ng-show="rules.RecordUnclearExchanges">
            <button type="button" class="btn" ng-class="{'disabled': addEventPointBlue != 0 || addEventPointRed != 0}" ng-click="addMatchEvent(0,0,'UnclearExchange')">Unclear exchange</button>
        </div>
        <div class="p-1" ng-show="rules.ConfirmScores">
            <button type="button" class="btn" ng-class="{'disabled': addEventPointBlue == 0 && addEventPointRed == 0}" ng-click="addMatchEvent(addEventPointBlue,addEventPointRed,'Score')">Exchange</button>
        </div>
        <div class="p-1" ng-show="rules.RecordAfterblow">
            <button type="button" class="btn" ng-click="addMatchEvent(addEventPointBlue,addEventPointRed,'Afterblow')">After blow</button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-1" ng-show="rules.RecordSportsmanship">
            <button type="button" class="btn bg-lightblue" ng-click="addMatchEvent(0,0,'SportsmanshipBlue')">Sportsmanship</button>
        </div>
        <div class="p-1" ng-show="rules.RecordPenalties">
            <button type="button" class="btn bg-lightblue" ng-click="addMatchEvent(-1*rules.PenaltyPoints,0,'Penalty')">Penalty</button>
        </div>
        <div class="p-1" ng-show="rules.RecordWarnings">
            <button type="button" class="btn bg-lightblue" ng-click="addMatchEvent(0,0,'WarningBlue')">Warning</button>
        </div>
        <div class="p-1" ng-show="rules.RecordWarnings">
            <button type="button" class="btn bg-lightred" ng-click="addMatchEvent(0,0,'WarningRed')">Warning</button>
        </div>
        <div class="p-1" ng-show="rules.RecordPenalties">
            <button type="button" class="btn bg-lightred" ng-click="addMatchEvent(0,-1*rules.PenaltyPoints,'Penalty')">Penalty</button>
        </div>
        <div class="p-1" ng-show="rules.RecordSportsmanship">
            <button type="button" class="btn bg-lightred" ng-click="addMatchEvent(0,0,'SportsmanshipRed')">Sportsmanship</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <span ng-class="{'warning': rules.ExchangesMax > 0 && currentMatch.ExchangeCount >= rules.ExchangesMax}"><strong>{{currentMatch.ExchangeCount}}</strong> Exchanges <br/></span>
            <span ng-show="rules.RecordDoubleHits" ng-class="{'warning': rules.DoubleHitMax > 0 && currentMatch.DoubleCount > rules.DoubleHitMax}"><strong>{{currentMatch.DoubleCount}}</strong> Doubles<br/></span>
            <table>
                <tr><th>Exchange</th><th ng-show="rules.Rounds > 1">Round</th><th>Time</th><th>Event</th><th>Blue</th><th>Red</th></tr>
                <tr ng-repeat="event in currentMatch.Events">
                    <td align="center">{{ event.ExchangeNumber }}</td>
                    <td ng-show="rules.Rounds > 1">{{ event.Round }}</td>
                    <td>{{ event.Time | timespan }}</td>
                    <td>{{ event.Type }}</td>
                    <td class="bg-blue" align="center">{{ event.PointsBlue }}</td>
                    <td class="bg-red" align="center">{{ event.PointsRed }}</td>
                    <td ng-show="$first"><button type="button" class="btn" ng-click="undoLastMatchEvent()"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            </table>
            <br/>
            Result:
            <select ng-model="matchResult" bs-selectbox>
                <option value="None">None</option>
                <option value="Draw">Draw</option>
                <option value="WinBlue" class="bg-blue">{{currentMatch.FighterBlue}} (Blue) wins</option>
                <option value="WinRed" class="bg-red">{{currentMatch.FighterRed}} (Red) wins</option>
                <option value="ForfeitBlue">{{currentMatch.FighterBlue}} (Blue) forfeits</option>
                <option value="ForfeitRed">{{currentMatch.FighterRed}} (Red) forfeits</option>
                <option value="DisqualificationBlue">{{currentMatch.FighterBlue}} (Blue) disqualified</option>
                <option value="DisqualificationRed">{{currentMatch.FighterRed}} (Red) disqualified</option>
                <option value="Skipped">Skipped</option>
            </select>
            <button type="button" class="btn" ng-click="setMatchResult()">Submit</button>
        </div>
    </div>
    <div ng-show="nextMatch" class="row">
        <div class="col-12" align="center">
            <strong>Next match</strong>
        </div>
        <div class="col-12" align="center">
            <span class="d-none d-md-inline">
                <a href="#!ShowCompetition/{{nextMatch.CompetitionId}}">{{nextMatch.Competition}}</a>
                - <a href="#!ShowPhase/{{nextMatch.PhaseId}}">{{nextMatch.Phase}}</a> -
            </span>
            <span class="d-none d-sm-inline">
                <span ng-show="nextMatch.PoolId"><a href="#!ShowPool/{{nextMatch.PoolId}}">{{nextMatch.Pool}}</a> - </span>
            </span>{{nextMatch.Name}}
        </div>
        <div class="col-12 col-sm-6 bg-blue" align="left">
            <strong>{{nextMatch.FighterBlue}}</strong>
        </div>
        <div class="col-12 col-sm-6 bg-red" align="right">
            <strong>{{nextMatch.FighterRed}}</strong>
        </div>
    </div>
</div>