<h2 align="center">
    <span class="d-none d-md-inline">
        <a href="#!ShowCompetition/{{currentMatch.CompetitionId}}">{{currentMatch.Competition}}</a>
        - <a href="#!ShowPhase/{{currentMatch.PhaseId}}">{{currentMatch.Phase}}</a> -
    </span>
    <span class="d-none d-sm-inline">
        <span ng-show="currentMatch.PoolId"><a href="#!ShowPool/{{currentMatch.PoolId}}">{{currentMatch.Pool}}</a> - </span>
    </span>{{currentMatch.Name}}
</h2>
<div class="container">
    <div class="row">
        <div class="col-6 bg-blue" align="left">
            <strong>{{currentMatch.FighterBlue}}</strong>
        </div>
        <div class="col-6 bg-red" align="right">
            <strong>{{currentMatch.FighterRed}}</strong>
        </div>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-6 bg-blue" align="left">
            {{currentMatch.FighterBlueOrganization}}
        </div>
        <div class="col-6 bg-red" align="right">
            {{currentMatch.FighterRedOrganization}}
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <span ng-show="!editingTime"><strong>{{currentMatch.LiveTime | timespanmili}}</strong></span>
            <input type="time" ng-show="editingTime" id="exampleInput" name="input" ng-model="editTime" step="1" required="required" />
            <br />
            <button type="button" class="btn" ng-click="startTime()"><i class="fa fa-play" aria-hidden="true"></i></button>
            <button type="button" class="btn" ng-click="changeEditTime()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="btn" ng-click="stopTime()"><i class="fa fa-pause" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-md-1 offset-md-3 bg-blue" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(2,0,'Score')">+2</button>
        </div>
        <div class="col-2 col-md-1 bg-blue" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(1,0,'Score')">+1</button>
        </div>
        <div class="col-2 col-md-1 bg-blue" align="center">
            <h1>{{currentMatch.ScoreBlue}}</h1>
        </div>
        <div class="col-2 col-md-1 bg-red" align="center">
            <h1>{{currentMatch.ScoreRed}}</h1>
        </div>
        <div class="col-2 col-md-1 bg-red" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(0,1,'Score')">+1</button>
        </div>
        <div class="col-2 col-md-1 bg-red" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(0,2,'Score')">+2</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4" align="right">
            <button type="button" class="btn" ng-click="addMatchEvent(0,0,'DoubleHit')">Double</button>
        </div>
        <div class="col-4" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(0,0,'UnclearExchange')">Unclear exchange</button>
        </div>
        <div class="col-4" align="left">
            <button type="button" class="btn" ng-click="addMatchEvent(0,0,'AfterBlow')">After blow</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3" align="right">
            <button type="button" class="btn bg-lightblue" ng-click="addMatchEvent(0,0,'SportsmanshipBlue')">Sportsmanship</button>
        </div>
        <div class="col-3" align="right">
            <button type="button" class="btn bg-lightblue" ng-click="addMatchEvent(0,0,'WarningBlue')">Warning</button>
        </div>
        <div class="col-3" align="left">
            <button type="button" class="btn bg-lightred" ng-click="addMatchEvent(0,0,'WarningRed')">Warning</button>
        </div>
        <div class="col-3" align="left">
            <button type="button" class="btn bg-lightred" ng-click="addMatchEvent(0,0,'SportsmanshipRed')">Sportsmanship</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <strong>{{currentMatch.ExchangeCount}}</strong> Exchanges<br/>
            <strong>{{currentMatch.DoubleCount}}</strong> Doubles<br/>
            <table>
                <tr><th>Exchange</th><th>Time</th><th>Event</th><th>Blue</th><th>Red</th></tr>
                <tr ng-repeat="event in currentMatch.Events">
                    <td align="center">{{ event.ExchangeNumber }}</td>
                    <td>{{ event.Time | timespan }}</td>
                    <td>{{ event.Type }}</td>
                    <td class="bg-blue" align="center">{{ event.PointsBlue }}</td>
                    <td class="bg-red" align="center">{{ event.PointsRed }}</td>
                    <td ng-show="$first"><button type="button" class="btn" ng-click="undoLastMatchEvent()"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            </table>
            <br/>
            Result:
            <select ng-model="matchResult" bs-selectbox>
                <option value="None">None</option>
                <option value="Draw">Draw</option>
                <option value="WinBlue" class="bg-blue">{{currentMatch.FighterBlue}} (Blue) wins</option>
                <option value="WinRed" class="bg-red">{{currentMatch.FighterRed}} (Red) wins</option>
                <option value="ForfeitBlue">{{currentMatch.FighterBlue}} (Blue) forfeits</option>
                <option value="ForfeitRed">{{currentMatch.FighterRed}} (Red) forfeits</option>
                <option value="DisqualificationBlue">{{currentMatch.FighterBlue}} (Blue) disqualified</option>
                <option value="DisqualificationRed">{{currentMatch.FighterRed}} (Red) disqualified</option>
                <option value="Skipped">Skipped</option>
            </select>
            <button type="button" class="btn" ng-click="setMatchResult()">Submit</button>
        </div>
    </div>
    <div ng-show="nextMatch" class="row">
        <div class="col-12" align="center">
            <strong>Next match</strong>
        </div>
        <div class="col-12" align="center">
            <span class="d-none d-md-inline">
                <a href="#!ShowCompetition/{{nextMatch.CompetitionId}}">{{nextMatch.Competition}}</a>
                - <a href="#!ShowPhase/{{nextMatch.PhaseId}}">{{nextMatch.Phase}}</a> -
            </span>
            <span class="d-none d-sm-inline">
                <span ng-show="nextMatch.PoolId"><a href="#!ShowPool/{{nextMatch.PoolId}}">{{nextMatch.Pool}}</a> - </span>
            </span>{{nextMatch.Name}}
        </div>
        <div class="col-12 col-sm-6 bg-blue" align="left">
            <strong>{{nextMatch.FighterBlue}}</strong>
        </div>
        <div class="col-12 col-sm-6 bg-red" align="right">
            <strong>{{nextMatch.FighterRed}}</strong>
        </div>
    </div>
</div>