<h2><a href="#!ShowCompetition/{{currentPhase.CompetitionId}}">{{currentPhase.Competition}}</a> - {{currentPhase.Name}}</h2>

<a ng-show="currentPhase.Elimination && currentPhase.MatchesTotal > 0" href="#!ShowPhaseElimination/{{currentPhase.Id}}"><i class="fa fa-sitemap fa-rotate-90"></i> Eliminations</a><br />
<a ng-show="currentPhase.MatchesFinished > 0" href="#!ShowPhaseRanking/{{currentPhase.Id}}"><i class="fa fa-list-ol"></i> Rankings</a><br />



<h3>Pools {{currentPhase.PoolsTotal}}</h3>
<table>
    <tr><th>Pool</th><th>Location</th><th>Planned</th><th>Fighters</th><th>Matches</th></tr>
    <tr ng-repeat="pool in currentPhase.Pools">
        <td><a href="#!ShowPool/{{pool.Id}}">{{ pool.Name }}</a></td>
        <td>{{ pool.Location }}</td>
        <td>{{ pool.PlannedDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{ pool.FightersTotal }}</td>
        <td>
            <i class="fa fa-calendar" aria-hidden="true"></i> {{pool.MatchesTodo}}
            <i class="fa fa-play" aria-hidden="true"></i> {{pool.MatchesBusy}}
            <i class="fa fa-check" aria-hidden="true"></i> {{pool.MatchesFinished}}
        </td>
    </tr>
    <tr ng-show="rights == 'Admin'">
        <td><input type="text" ng-model="newPoolName" /></td>
        <td><input type="text" ng-model="newPoolLocationName" /></td>
        <td><input placeholder="yyyy-MM-ddTHH:mm:ss" type="datetime-local" ng-model="newPoolPlanned" /></td>
        <td><button ng-click="createPhasePool()">Create</button></td>
    </tr>
</table>
<button ng-show="rights == 'Admin' && currentPhase.PoolsTotal > 0 && currentPhase.FightersTotal > 0" ng-click="distributeFighters()">Distribute fighters over the pools</button>
<br />
<h3>Fighters {{currentPhase.FightersTotal}}</h3>
<label>Search: <input type="text" ng-model="searchFighterText"></label>
<table>

    <tr>
        <th ng-show="rights == 'Admin'"><input type="checkbox" ng-model="select" ng-click="checkAll()" /></th>
        <th ng-click="fighterSortType = 'FirstName'; fighterSortReverse=!fighterSortReverse">Firstname</th>
        <th ng-click="fighterSortType = 'LastName'; fighterSortReverse=!fighterSortReverse">LastName</th>
        <th ng-click="fighterSortType = 'Organization'; fighterSortReverse=!fighterSortReverse">Organization</th>
        <th ng-click="fighterSortType = 'CountryCode'; fighterSortReverse=!fighterSortReverse">Country</th>
        <th ng-click="fighterSortType = 'Pool'; fighterSortReverse=!fighterSortReverse">Pool</th>
        <th><i ng-click="fighterSortType = 'MatchesTodo'; fighterSortReverse=!fighterSortReverse" class="fa fa-calendar" aria-hidden="true"></i> {{currentPhase.MatchesTodo}}</th>
        <th><i ng-click="fighterSortType = 'MatchesBusy'; fighterSortReverse=!fighterSortReverse" class="fa fa-play" aria-hidden="true"></i> {{currentPhase.MatchesBusy}}</th>
        <th><i ng-click="fighterSortType = 'MatchesFinished'; fighterSortReverse=!fighterSortReverse" class="fa fa-check" aria-hidden="true"></i> {{currentPhase.MatchesFinished}}</th>

    </tr>
    <tr ng-repeat="fighter in currentPhase.Fighters | filter:searchFighterText | orderBy:fighterSortType:fighterSortReverse">
        <td ng-show="rights == 'Admin'"><input type="checkbox" name="fightersSelected[]" ng-model="fighter.Selected" value="{{fighter.Id}}" /></td>
        <td colspan="2">{{fighter.DisplayName}}</td>
        <td>{{fighter.Organization}}</td>
        <td><img alt="{{fighter.CountryCode}}" title="{{fighter.CountryName}}" ng-src="Content/flags/{{fighter.CountryCode?fighter.CountryCode:'none'}}.svg" height="20" width="30" /></td>
        <td>{{fighter.Pool}}</td>
        <td><i class="fa fa-calendar" aria-hidden="true"></i> {{fighter.MatchesTodo}}</td>
        <td><i class="fa fa-play" aria-hidden="true"></i> {{fighter.MatchesBusy}}</td>
        <td><i class="fa fa-check" aria-hidden="true"></i> {{fighter.MatchesFinished}}</td>
    </tr>
</table>
<div ng-show="rights == 'Admin'">
    Selected: <button ng-click="phaseRemoveFighters()">Remove</button> from phase<span ng-show="currentPhase.PoolsTotal > 0">
        , <button ng-click="poolAddFighters()">Add</button> to pool
        <select ng-model="addFightersPool">
            <option ng-repeat="pool in currentPhase.Pools" value="{{pool.Id}}">{{pool.Name}}</option>
        </select>
    </span><br />
    <button ng-show="currentPhase.PhaseOrder <= 1" ng-click="addAllFighters()">Add all fighters from competition</button><br />
    <div ng-show="currentPhase.PhaseOrder > 1"><input type="number" min="2" ng-model="topfighters" max="128" /><button ng-click="addTopFighters()">Add top from previous phase</button></div>
</div>
<h3>Matches {{currentPhase.MatchesTotal}}</h3>
<matches-table context="currentPhase"></matches-table>
<button ng-show="rights == 'Admin' && currentPhase.PoolsTotal == 0 && currentPhase.FightersTotal > 1" ng-click="generateMatches()">Generate Matches</button>
<button ng-show="rights == 'Admin' && currentPhase.MatchesTotal > 0 && currentPhase.FightersTotal > 1" ng-click="fillMatches()">Fill Matches</button>

<h3>Rules</h3>
Match: {{currentPhase.MatchRules}}
<select ng-model="newMatchRules">
    <option value="00000000-0000-0000-0000-000000000000" selected="selected"></option>
    <option ng-repeat="matchRule in matchRules" value="{{matchRule.Id}}">{{matchRule.Name}}</option>
</select>
<button ng-click="phaseSaveMatchRules()">Switch</button>