<img class="pull-left img-responsive" src="Content/logo.png" height="40" style="margin:3px">
<h2 align="center">
    <span class="d-none d-lg-inline">
        <a href="#!ShowCompetition/{{currentMatch.CompetitionId}}">{{currentMatch.Competition}}</a>
        -
    </span><span class="d-none d-md-inline"><a href="#!ShowPhase/{{currentMatch.PhaseId}}">{{currentMatch.Phase}}</a> - </span>
    <span class="d-none d-sm-inline">
        <span ng-show="currentMatch.PoolId"><a href="#!ShowPool/{{currentMatch.PoolId}}">{{currentMatch.Pool}}</a> - </span>
    </span>{{currentMatch.Name}}
</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 bg-blue text-nowrap" style="overflow:hidden;" ng-class="{'order-2':mirror,'text-left':!mirror,'text-right':mirror}">
            <img class="flag" ng-class="{'pull-left':!mirror,'pull-right':mirror}" alt="{{currentMatch.FighterBlueCountryCode}}" title="{{currentMatch.FighterBlueCountryName}}" ng-src="Content/flags/{{currentMatch.FighterBlueCountryCode?currentMatch.FighterBlueCountryCode:'none'}}.svg" />
            <strong>{{currentMatch.FighterBlue}}</strong>
            <span class="d-none d-sm-block" style="overflow:hidden;">{{currentMatch.FighterBlueOrganization || '-'}}</span>
        </div>
        <div class="col-12 col-sm-6 bg-red text-nowrap" style="overflow:hidden;" ng-class="{'order-1':mirror,'text-left':mirror,'text-right':!mirror}">
            <img class="flag" ng-class="{'pull-left':mirror,'pull-right':!mirror}" alt="{{currentMatch.FighterRedCountryCode}}" title="{{currentMatch.FighterRedCountryName}}" ng-src="Content/flags/{{currentMatch.FighterRedCountryCode?currentMatch.FighterRedCountryCode:'none'}}.svg" />
            <strong>{{currentMatch.FighterRed}}</strong>
            <span class="d-none d-sm-block" style="overflow:hidden;">{{currentMatch.FighterRedOrganization || '-'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <h2>{{currentMatch.LiveTime | timespan}}</h2>
            <div class="alert alert-warning" id="timeOutPopup" align="center"><h4>{{currentMatch.LiveTimeOut | timespan}}</h4></div>
        </div>
    </div>
    <div class="row" ng-show="rules.Rounds > 1 && rules.SplitRounds">
        <div class="col-4 bg-blue" align="center" ng-class="{'order-4':mirror}">
            <h1>{{currentMatch.ScoreBlue}}</h1>
        </div>
        <div class="col-2 bg-lightblue" align="center" ng-class="{'order-3':mirror}">
            <h3>{{currentMatch.RoundsBlue}}</h3>
        </div>
        <div class="col-2 bg-lightred" align="center" ng-class="{'order-2':mirror}">
            <h3>{{currentMatch.RoundsRed}}</h3>
        </div>
        <div class="col-4 bg-red" align="center" ng-class="{'order-1':mirror}">
            <h1>{{currentMatch.ScoreRed}}</h1>
        </div>
    </div>
    <div class="row" ng-show="rules.Rounds <= 1 || !rules.SplitRounds">
        <div class="col-6 bg-blue" align="center" ng-class="{'order-2':mirror}">
            <h1>{{currentMatch.ScoreBlue}}</h1>
        </div>
        <div class="col-6 bg-red" align="center" ng-class="{'order-1':mirror}">
            <h1>{{currentMatch.ScoreRed}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <strong>{{currentMatch.ExchangeCount}}</strong> Exchanges<br />
        </div>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-12" align="center">
            <strong>{{currentMatch.DoubleCount}}</strong> Doubles<br />
        </div>
    </div>
    <div class="row d-none d-sm-flex" ng-show="rules.Rounds > 1">
        <div class="col-12" align="center">
            Round <strong>{{currentMatch.Round}}</strong><br />
        </div>
    </div>
    <div class="row d-none d-md-flex">
        <div class="col-12" align="center">
            <table>
                <tr><th>Exchange</th><th ng-show="rules.Rounds > 1">Round</th><th>Time</th><th>Event</th><th ng-show="!mirror">Blue</th><th>Red</th><th ng-show="mirror">Blue</th></tr>
                <tr ng-repeat="event in currentMatch.Events">
                    <td align="center">{{ event.ExchangeNumber }}</td>
                    <td ng-show="rules.Rounds > 1">{{ event.Round }}</td>
                    <td>{{ event.Time | timespan }}</td>
                    <td>{{ event.Type }}</td>
                    <td class="bg-blue" ng-show="!mirror" align="center">{{ event.PointsBlue }}</td>
                    <td class="bg-red" align="center">{{ event.PointsRed }}</td>
                    <td class="bg-blue" ng-show="mirror" align="center">{{ event.PointsBlue }}</td>
                </tr>
                <tr ng-show="currentMatch.Events.length == 0">
                    <td colspan="5" align="center">No events yet</td>
                </tr>
            </table>
            <br />
            <span ng-show="currentMatch.Finished">Result: {{currentMatch.Result}}</span>
        </div>
    </div>
    <div ng-show="nextMatch" class="row">
        <div class="col-12" align="center">
            Next match:
            <span class="d-none d-lg-inline">
                <a href="#!ShowCompetition/{{nextMatch.CompetitionId}}">{{nextMatch.Competition}}</a>
                -
            </span><span class="d-none d-md-inline">
                <a href="#!ShowPhase/{{nextMatch.PhaseId}}">{{nextMatch.Phase}}</a> -
            </span>
            <span class="d-none d-sm-inline">
                <span ng-show="nextMatch.PoolId"><a href="#!ShowPool/{{nextMatch.PoolId}}">{{nextMatch.Pool}}</a> - </span>
            </span>{{nextMatch.Name}}
        </div>
        <div class="col-12 col-sm-6 bg-blue" ng-class="{'order-2':mirror,'text-left':!mirror,'text-right':mirror}">
            <strong>{{nextMatch.FighterBlue}}</strong>
        </div>
        <div class="col-12 col-sm-6 bg-red" ng-class="{'order-1':mirror,'text-left':mirror,'text-right':!mirror}">
            <strong>{{nextMatch.FighterRed}}</strong>
        </div>
    </div>
</div>