<h2>Competition {{currentCompetition.Name}}</h2>
<h3>Phases {{currentCompetition.PhasesTotal}}</h3>
<table>
    <tr><th>Phase</th><th>Location</th></tr>
    <tr ng-repeat="phase in currentCompetition.Phases">
        <td><a href="#!ShowPhase/{{phase.Id}}">{{ phase.Name }}</a></td>
        <td>{{ phase.Location }}</td>
        <td>{{ phase.PhaseType }}</td>
    </tr>
    <tr ng-show="rights == 'Admin'">
        <td><input type="text" ng-model="newPhaseName" /></td>
        <td><input type="text" ng-model="newPhaseLocationName" /></td>
        <td>
            <select ng-model="newPhaseType">
                <option value="SingleRoundRobin">Single round-robin</option>
                <option value="DoubleRoundRobin">Double round-robin</option>
                <option value="Swiss">Swiss</option>
                <option value="SingleElimination">Single-elimination</option>
                <option value="DoubleElimination">Double-elimination</option>
            </select>
        </td>
        <td><button ng-click="createCompetitionPhase()">Create</button></td>
    </tr>
</table>
<h3>Fighters {{currentCompetition.FightersTotal}}</h3>
<label>Search: <input type="text" ng-model="searchFighterText"></label>
<table>
    <tr>
        <th ng-show="rights == 'Admin'"><input type="checkbox" ng-model="select" ng-click="checkAll()" /></th>
        <th ng-show="rights == 'Admin'">Blue</th>
        <th ng-show="rights == 'Admin'">Red</th>
        <th ng-click="fighterSortType = 'FirstName'; fighterSortReverse=!fighterSortReverse">Firstname</th>
        <th ng-click="fighterSortType = 'LastName'; fighterSortReverse=!fighterSortReverse">LastName</th>
        <th ng-click="fighterSortType = 'Organization'; fighterSortReverse=!fighterSortReverse">Organization</th>
        <th ng-click="fighterSortType = 'CountryCode'; fighterSortReverse=!fighterSortReverse">Country</th>
        <th ng-click="fighterSortType = 'Seed'; fighterSortReverse=!fighterSortReverse">Seed</th>
        <th><i ng-click="fighterSortType = 'MatchesTodo'; fighterSortReverse=!fighterSortReverse" class="fa fa-calendar" aria-hidden="true"></i> {{currentCompetition.MatchesTodo}}</th>
        <th><i ng-click="fighterSortType = 'MatchesBusy'; fighterSortReverse=!fighterSortReverse" class="fa fa-play" aria-hidden="true"></i> {{currentCompetition.MatchesBusy}}</th>
        <th><i ng-click="fighterSortType = 'MatchesFinished'; fighterSortReverse=!fighterSortReverse" class="fa fa-check" aria-hidden="true"></i> {{currentCompetition.MatchesFinished}}</th>
        <th ng-show="rights == 'Admin'"></th>
    </tr>
    <tr ng-repeat="fighter in currentCompetition.Fighters | filter:searchFighterText | orderBy:fighterSortType:fighterSortReverse">
        <td ng-show="rights == 'Admin'"><input type="checkbox" name="fightersSelected[]" ng-model="fighter.Selected" value="{{fighter.Id}}" /></td>
        <td ng-show="rights == 'Admin'"><input type="radio" name="newFightBlueFighterId" ng-model="$parent.newFightBlueFighterId" value="{{fighter.Id}}" /></td>
        <td ng-show="rights == 'Admin'"><input type="radio" name="newFightRedFighterId" ng-model="$parent.newFightRedFighterId" value="{{fighter.Id}}" /></td>
        <td colspan="2">{{fighter.DisplayName}}</td>
        <td>{{fighter.Organization}}</td>
        <td align="center"><img alt="{{fighter.CountryCode}}" title="{{fighter.CountryName}}" ng-src="Content/flags/{{fighter.CountryCode?fighter.CountryCode:'none'}}.svg" height="20" width="30" /> </td>
        <td>{{fighter.Seed}}</td>
        <td><i class="fa fa-calendar" aria-hidden="true"></i> {{fighter.MatchesTodo}}</td>
        <td><i class="fa fa-play" aria-hidden="true"></i> {{fighter.MatchesBusy}}</td>
        <td><i class="fa fa-check" aria-hidden="true"></i> {{fighter.MatchesFinished}}</td>
        <td ng-show="rights == 'Admin'"><a href="#!EditPerson/{{fighter.Id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
    </tr>
</table>
<div ng-show="rights == 'Admin'">
    Selected: <button ng-click="competitionRemoveFighters()">Remove</button> from competition, <button ng-click="phaseAddFighters()">Add</button> to phase <select ng-model="addFightersPhase">
        <option ng-repeat="phase in currentCompetition.Phases" value="{{phase.Id}}">{{phase.Name}}</option>
    </select>
</div>
<table ng-show="rights == 'Admin'">
    <tr><td>Firstname</td><td><input placeholder="Firstname" type="text" ng-model="newFighterFirstName" /></td></tr>
    <tr><td>Prefix</td><td><input placeholder="Prefix" type="text" ng-model="newFighterLastNamePrefix" /></td></tr>
    <tr><td>Lastname</td><td><input placeholder="Lastname" type="text" ng-model="newFighterLastName" /></td></tr>
    <tr>
        <td>Organization</td>
        <td>
            <input list="organizations" placeholder="Organization" type="text" ng-model="newFighterOrganization" />
            <datalist id="organizations">
                <option ng-repeat="organization in organizations">{{organization}}</option>
            </datalist>
        </td>
    </tr>
    <tr>
        <td>Country</td>
        <td>
            <select ng-model="newFighterCountry">
                <option ng-repeat="(countryCode,country) in countries" data-image="Content/flags/{{countryCode}}.svg" value="{{countryCode}}">{{country}}</option>
            </select>
        </td>
    </tr>
    <tr><td>Seed</td><td><input placeholder="Seed" type="number" ng-model="newFighterSeed" /></td></tr>
    <tr><td colspan="2"><button ng-click="competitionAddFighter()">Add</button></td></tr>
</table>

<input ng-show="rights == 'Admin'" type="file" onchange="angular.element(this).scope().uploadFighters( this.files[0] )" />

<h3>Matches {{currentCompetition.MatchesTotal}}</h3>
<matches-table context="currentCompetition"></matches-table>
<table ng-show="rights == 'Admin'">
    <tr>
        <td>Fight name</td>
        <td><input placeholder="Fight name" type="text" ng-model="newFightName" /></td>
        <td>Planned</td>
        <td><input placeholder="yyyy-MM-ddTHH:mm:ss" type="datetime-local" ng-model="newFightPlanned" /></td>
        <td colspan="2">Select fighters in fighter list</td>
        <td><button ng-click="competitionAddFight()">Add</button></td>
    </tr>
</table>

<h3>Rules</h3>
Match: <a href="#!EditMatchRules/{{currentCompetition.MatchRulesId}}">{{currentCompetition.MatchRules}}</a>
<select ng-show="rights == 'Admin'" ng-model="newMatchRules">
    <option ng-repeat="matchRule in matchRules" value="{{matchRule.Id}}">{{matchRule.Name}}</option>
</select>
<button ng-show="rights == 'Admin'" ng-click="competitionSaveMatchRules()">Switch</button><br />
Ranking: <a href="#!EditRankingRules/{{currentCompetition.RankingRulesId}}">{{currentCompetition.RankingRules}}</a>
<select ng-model="newRankingRules" ng-show="rights == 'Admin'">
    <option ng-repeat="rankingRule in rankingRules" value="{{rankingRule.Id}}">{{rankingRule.Name}}</option>
</select>
<button ng-show="rights == 'Admin'" ng-click="competitionSaveRankingRules()">Switch</button>
