<img ng-show="$parent.viewer" class="pull-left img-responsive" src="Content/logo.png" height="40" style="margin:3px">
<button ng-show="!$parent.viewer" type="button" class="btn" ng-click="updateRankings()">Update</button> <button ng-show="!$parent.viewer" type="button" class="btn" ng-click="showOnLocation()"><i class="fa fa-desktop" aria-hidden="true"></i></button>
<table class="table-header-rotated">
    <tr>
        <th>#</th>
        <th>Fighter</th>
        <th class="rotate-45"><div><span>Matches</span></div></th>
        <th class="rotate-45"><div><span>Wins</span></div></th>
        <th class="rotate-45"><div><span>Draws</span></div></th>
        <th class="rotate-45"><div><span>Losses</span></div></th>
        <th class="rotate-45"><div><span>Win ratio</span></div></th>
        <th class="rotate-45"><div><span>Match points</span></div></th>
        <th class="rotate-45"><div><span>Match points per match</span></div></th>
        <th class="rotate-45" ng-show="rules.RecordDoubleHits"><div><span>Double hits</span></div></th>
        <th class="rotate-45" ng-show="rules.RecordDoubleHits"><div><span>Double hits per match</span></div></th>
        <th class="rotate-45" ng-show="rules.RecordPenalties"><div><span>Penalties</span></div></th>
        <th class="rotate-45" ng-show="rules.RecordWarnings"><div><span>Warnings</span></div></th>
        <th class="rotate-45"><div><span>Exchanges</span></div></th>
        <th class="rotate-45"><div><span>Hits given</span></div></th>
        <th class="rotate-45"><div><span>Hits received</span></div></th>
        <th class="rotate-45"><div><span>Hit ratio</span></div></th>
        <th class="rotate-45" ng-show="rules.RecordSportsmanship"><div><span>Sportsmanship</span></div></th>
        <th class="rotate-45" ng-show="rules.RecordNotes"><div><span>Notes</span></div></th>
    </tr>
    <tr ng-repeat="ranking in rankings">
        <td>{{ranking.Rank}}</td>
        <td>{{ranking.Fighter.DisplayName}}</td>
        <td class="rotate-45" ng-init="$parent.totalMatches = $parent.totalMatches + ranking.Matches">{{ranking.Matches}}</td>
        <td class="rotate-45" ng-init="$parent.totalWins = $parent.totalWins + ranking.Wins">{{ranking.Wins}}</td>
        <td class="rotate-45" ng-init="$parent.totalDraws = $parent.totalDraws + ranking.Draws">{{ranking.Draws}}</td>
        <td class="rotate-45" ng-init="$parent.totalLosses = $parent.totalLosses + ranking.Losses">{{ranking.Losses}}</td>
        <td class="rotate-45">{{ranking.WinRatio | number : 2}}</td>
        <td class="rotate-45" ng-init="$parent.totalMatchPoints = $parent.totalMatchPoints + ranking.MatchPoints">{{ranking.MatchPoints}}</td>
        <td class="rotate-45">{{ranking.MatchPointsPerMatch | number : 2}}</td>
        <td class="rotate-45" ng-init="$parent.totalDoubleHits = $parent.totalDoubleHits + ranking.DoubleHits" ng-show="rules.RecordDoubleHits">{{ranking.DoubleHits}}</td>
        <td class="rotate-45" ng-show="rules.RecordDoubleHits">{{ranking.DoubleHitsPerMatch | number : 2}}</td>
        <td class="rotate-45" ng-init="$parent.totalPenalties = $parent.totalPenalties + ranking.Penalties" ng-show="rules.RecordPenalties">{{ranking.Penalties}}</td>
        <td class="rotate-45" ng-init="$parent.totalWarnings = $parent.totalWarnings + ranking.Warnings" ng-show="rules.RecordWarnings">{{ranking.Warnings}}</td>
        <td class="rotate-45" ng-init="$parent.totalExchanges = $parent.totalExchanges + ranking.Exchanges">{{ranking.Exchanges}}</td>
        <td class="rotate-45" ng-init="$parent.totalHitsGiven = $parent.totalHitsGiven + ranking.HitsGiven">{{ranking.HitsGiven}}</td>
        <td class="rotate-45" ng-init="$parent.totalHitsReceived = $parent.totalHitsReceived + ranking.HitsReceived">{{ranking.HitsReceived}}</td>
        <td class="rotate-45">{{ranking.HitRatio | number : 2}}</td>
        <td class="rotate-45" ng-init="$parent.totalSportsmanshipPoints = $parent.totalSportsmanshipPoints + ranking.SportsmanshipPoints" ng-show="rules.RecordSportsmanship">{{ranking.SportsmanshipPoints}}</td>
        <td class="rotate-45" ng-init="$parent.totalNotes = $parent.totalNotes+ ranking.Notes" ng-show="rules.RecordNotes">{{ranking.Notes}}</td>
    </tr>
    <tr class="total">
        <td></td>
        <td>Total</td>
        <td class="rotate-45">{{totalMatches}}</td>
        <td class="rotate-45">{{totalWins}}</td>
        <td class="rotate-45">{{totalDraws}}</td>
        <td class="rotate-45">{{totalLosses}}</td>
        <td class="rotate-45">{{totalWins / totalMatches | number : 2}}</td>
        <td class="rotate-45">{{totalMatchPoints}}</td>
        <td class="rotate-45">{{totalMatchPoints / totalMatches | number : 2}}</td>
        <td class="rotate-45" ng-show="rules.RecordDoubleHits">{{totalDoubleHits}}</td>
        <td class="rotate-45" ng-show="rules.RecordDoubleHits">{{totalDoubleHits / totalMatches | number : 2}}</td>
        <td class="rotate-45" ng-show="rules.RecordPenalties">{{totalPenalties}}</td>
        <td class="rotate-45" ng-show="rules.RecordWarnings">{{totalWarnings}}</td>
        <td class="rotate-45">{{totalExchanges}}</td>
        <td class="rotate-45">{{totalHitsGiven}}</td>
        <td class="rotate-45">{{totalHitsReceived}}</td>
        <td class="rotate-45">{{(totalHitsGiven - totalHitsReceived) / totalMatches | number : 2}}</td>
        <td class="rotate-45" ng-show="rules.RecordSportsmanship">{{totalSportsmanshipPoints}}</td>
        <td class="rotate-45" ng-show="rules.RecordNotes">{{totalNotes}}</td>
    </tr>
</table>