Location:
<input type="text" placeholder="Location" ng-model="location" />
<br />
Location viewer:
<input type="checkbox" ng-model="viewer" />
<br />
High contrast mode:
<input type="checkbox" ng-model="highcontrast" />
<br />
Mirror red/blue mode:
<input type="checkbox" ng-model="mirror" />
<br />
Automatic scroll:
<input type="checkbox" ng-model="autoscroll" />
<br />
<button ng-click="apply()">Apply</button>
<br />
<button type="button" class="btn" ng-click="fullscreen()"><i class="fa fa-expand" aria-hidden="true"></i></button>
