<label>Search: <input type="text" ng-model="searchMatchText"></label>
<table>
    <tr>
        <th><input type="checkbox" ng-model="select" ng-click="checkAll()" /></th>
        <th ng-click="matchSortType = 'Name'; matchSortReverse=!matchSortReverse">Match</th>
        <th ng-show="!context.CompetitionId" ng-click="matchSortType = 'Phase'; matchSortReverse=!matchSortReverse">Phase</th>
        <th ng-show="!context.PhaseId" ng-click="matchSortType = 'Pool'; matchSortReverse=!matchSortReverse">Pool</th>
        <th ng-click="matchSortType = 'Location'; matchSortReverse=!matchSortReverse">Location</th>
        <th>
            <i ng-click="matchSortType = 'PlannedDateTime'; matchSortReverse=!matchSortReverse" class="fa fa-calendar" aria-hidden="true"></i> {{context.MatchesTodo}}
            <i ng-click="matchSortType = 'StartedDateTime'; matchSortReverse=!matchSortReverse" class="fa fa-play" aria-hidden="true"></i> {{context.MatchesBusy}}
            <i ng-click="matchSortType = 'FinishedDateTime'; matchSortReverse=!matchSortReverse" class="fa fa-check" aria-hidden="true"></i> {{context.MatchesFinished}}
        </th>
        <th ng-click="matchSortType = 'FighterBlue'; matchSortReverse=!matchSortReverse">Blue</th>
        <th ng-click="matchSortType = 'FighterRed'; matchSortReverse=!matchSortReverse">Red</th>
        <th ng-click="matchSortType = 'Result'; matchSortReverse=!matchSortReverse">Result</th>
    </tr>
    <tr ng-repeat="match in context.Matches | filter:searchMatchText | orderBy:matchSortType:matchSortReverse">
        <td><input type="checkbox" name="matchesSelected[]" ng-model="match.Selected" value="{{match.Id}}" /></td>
        <td>{{ match.Name }}</td>
        <td ng-show="!context.CompetitionId">{{ match.Phase }}</td>
        <td ng-show="!context.PhaseId">{{ match.Pool }}</td>
        <td>{{ match.Location }}</td>
        <td ng-show="!match.Started && !match.Finished && !match.Planned"></td>
        <td ng-show="!match.Started && !match.Finished && match.Planned"><i class="fa fa-calendar" aria-hidden="true"></i> <time>{{ match.PlannedDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</time></td>
        <td ng-show="match.Started && !match.Finished"><i class="fa fa-play" aria-hidden="true"></i> <time>{{ match.StartedDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</time></td>
        <td ng-show="match.Finished"><i class="fa fa-check" aria-hidden="true"></i> <time>{{ match.FinishedDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</time></td>
        <td class="bg-lightblue">{{ match.FighterBlue }}</td>
        <td class="bg-lightred">{{ match.FighterRed }}</td>
        <td ng-show="match.Started && (match.Result == 'None' || match.Result == 'WinBlue' || match.Result == 'WinRed' || match.Result == 'Draw')" ng-class="{warning: ((match.ScoreBlue > match.ScoreRed &&  match.Result == 'WinRed')||(match.ScoreBlue < match.ScoreRed &&  match.Result == 'WinBlue'))}"><i ng-show="!match.Finished" class="fa fa-play" aria-hidden="true"></i> {{ match.ScoreBlue }} - {{ match.ScoreRed }}</td>
        <td ng-show="match.Started && (match.Result != 'None' && match.Result != 'WinBlue' && match.Result != 'WinRed' && match.Result != 'Draw')">{{ match.Result }}</td>
        <td ng-show="!match.Started"></td>
        <td><a ng-show="context.Rights =='Admin' || context.Rights == 'ScoreValidator'" href="#!EditMatch/{{match.Id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="#!ShowMatch/{{match.Id}}"><i class="fa fa-eye" aria-hidden="true"></i></a> <a ng-show="!match.Finished && (context.Rights =='Admin' || context.Rights == 'ScoreKeeper')" href="#!ScoreKeeper/{{match.Id}}"><i class="fa fa-play" aria-hidden="true"></i></a></td>
    </tr>
</table>

