<div class="container">
    <div class="row">
        <div class="col-6 bg-blue" align="left">
            {{currentMatch.FighterBlue}}
        </div>
        <div class="col-6 bg-red" align="right">
            {{currentMatch.FighterRed}}
        </div>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-6 bg-blue" align="left">
            {{currentMatch.FighterBlueOrganization}}
        </div>
        <div class="col-6 bg-red" align="right">
            {{currentMatch.FighterRedOrganization}}
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            {{currentMatch.LiveTime | timespan}}<br/>
            <button type="button" class="btn" ng-click="startTime()">Start</button>
            <button type="button" class="btn" ng-click="stopTime()">Stop</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-md-1 offset-md-3 bg-blue" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(2,0,'Score')">+2</button>
        </div>
        <div class="col-2 col-md-1 bg-blue" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(1,0,'Score')">+1</button>
        </div>
        <div class="col-2 col-md-1 bg-blue" align="center">
            <h1>{{currentMatch.ScoreBlue}}</h1>
        </div>
        <div class="col-2 col-md-1 bg-red" align="center">
            <h1>{{currentMatch.ScoreRed}}</h1>
        </div>
        <div class="col-2 col-md-1 bg-red" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(0,1,'Score')">+1</button>
        </div>
        <div class="col-2 col-md-1 bg-red" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(0,2,'Score')">+2</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <button type="button" class="btn" ng-click="addMatchEvent(0,0,'DoubleHit')">Double</button>
            <button type="button" class="btn" ng-click="addMatchEvent(0,0,'AfterBlow')">AfterBlow</button>
            <button type="button" class="btn" ng-click="addMatchEvent(0,0,'UnclearExchange')">Unclear exchange</button>
            <br />
            {{currentMatch.ExchangeCount}} Exchanges<br />
            {{currentMatch.DoubleCount}} Doubles<br />
            <button type="button" class="btn" ng-click="undoLastMatchEvent()">Undo Exchange</button>
            <br/>
            <table>
                <tr><th> </th><th>Time</th><th>Event</th><th>Blue</th><th>Red</th></tr>
                <tr ng-repeat="event in currentMatch.Events">
                    <td>{{ event.Round }}</td>
                    <td>{{ event.Time | timespan }}</td>
                    <td>{{ event.Type }}</td>
                    <td class="bg-blue" align="center">{{ event.PointsBlue }}</td>
                    <td class="bg-red" align="center">{{ event.PointsRed }}</td>
                </tr>
            </table>
            <br/>
            <select ng-model="matchResult" bs-selectbox>
                <option value="None">None</option>
                <option value="Draw">Draw</option>
                <option value="WinBlue" class="bg-blue">{{currentMatch.FighterBlue}} (Blue) wins</option>
                <option value="WinRed" class="bg-red">{{currentMatch.FighterRed}} (Red) wins</option>
                <option value="ForfeitBlue">{{currentMatch.FighterBlue}} (Blue) forfeits</option>
                <option value="ForfeitRed">{{currentMatch.FighterRed}} (Red) forfeits</option>
            </select> 
            <button type="button" class="btn" ng-click="setMatchResult()">Submit</button>
        </div>
    </div>
</div>