<table >
    <tr>
        <th>#</th>
        <th>Fighter</th>
        <th>M</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>R</th>
        <th>MP</th>
        <th>MPPM</th>
        <th>D</th>
        <th>DPM</th>
        <th>P</th>
        <th>W</th>
        <th>E</th>
        <th>HG</th>
        <th>HR</th>
        <th>R</th>
    </tr>
    <tr ng-repeat="ranking in rankings">
        <td>{{ranking.Rank}}</td>
        <td>{{ranking.Fighter.DisplayName}}</td>
        <td>{{ranking.Matches}}</td>
        <td>{{ranking.Wins}}</td>
        <td>{{ranking.Draws}}</td>
        <td>{{ranking.Losses}}</td>
        <td>{{ranking.WinRatio}}</td>
        <td>{{ranking.MatchPoints}}</td>
        <td>{{ranking.MatchPointsPerMatch}}</td>
        <td>{{ranking.DoubleHits}}</td>
        <td>{{ranking.DoubleHitsPerMatch}}</td>
        <td>{{ranking.Penalties}}</td>
        <td>{{ranking.Warnings}}</td>
        <td>{{ranking.Exchanges}}</td>
        <td>{{ranking.HitsGiven}}</td>
        <td>{{ranking.HitsReceived}}</td>
        <td>{{ranking.HitRatio}}</td>
    </tr>
</table>