<button type="button" class="btn" ng-click="updateRankings()">Update</button>
<table class="table-header-rotated" >
    <tr>
        <th>#</th>
        <th>Fighter</th>
        <th class="rotate-45"><div><span>Matches</span></div></th>
        <th class="rotate-45"><div><span>Wins</span></div></th>
        <th class="rotate-45"><div><span>Draws</span></div></th>
        <th class="rotate-45"><div><span>Losses</span></div></th>
        <th class="rotate-45"><div><span>Win ratio</span></div></th>
        <th class="rotate-45"><div><span>Match points</span></div></th>
        <th class="rotate-45"><div><span>Match points per match</span></div></th>
        <th class="rotate-45"><div><span>Double hits</span></div></th>
        <th class="rotate-45"><div><span>Double hits per match</span></div></th>
        <th class="rotate-45"><div><span>Penalties</span></div></th>
        <th class="rotate-45"><div><span>Warnings</span></div></th>
        <th class="rotate-45"><div><span>Exchanges</span></div></th>
        <th class="rotate-45"><div><span>Hits given</span></div></th>
        <th class="rotate-45"><div><span>Hits recieved</span></div></th>
        <th class="rotate-45"><div><span>Hit ratio</span></div></th>
        <th class="rotate-45"><div><span>Sportmanship</span></div></th>
    </tr>
    <tr ng-repeat="ranking in rankings">
        <td>{{ranking.Rank}}</td>
        <td>{{ranking.Fighter.DisplayName}}</td>
        <td class="rotate-45">{{ranking.Matches}}</td>
        <td class="rotate-45">{{ranking.Wins}}</td>
        <td class="rotate-45">{{ranking.Draws}}</td>
        <td class="rotate-45">{{ranking.Losses}}</td>
        <td class="rotate-45">{{ranking.WinRatio | number : 2}}</td>
        <td class="rotate-45">{{ranking.MatchPoints}}</td>
        <td class="rotate-45">{{ranking.MatchPointsPerMatch | number : 2}}</td>
        <td class="rotate-45">{{ranking.DoubleHits}}</td>
        <td class="rotate-45">{{ranking.DoubleHitsPerMatch | number : 2}}</td>
        <td class="rotate-45">{{ranking.Penalties}}</td>
        <td class="rotate-45">{{ranking.Warnings}}</td>
        <td class="rotate-45">{{ranking.Exchanges}}</td>
        <td class="rotate-45">{{ranking.HitsGiven}}</td>
        <td class="rotate-45">{{ranking.HitsReceived}}</td>
        <td class="rotate-45">{{ranking.HitRatio | number : 2}}</td>
        <td class="rotate-45">{{ranking.SportmanshipPoints}}</td>
    </tr>
</table>