<h2>Match</h2>
{{matchId}}
<div class="container">
    <div class="row">
        <div class="col-xs-5" align="left" style="background-color: #66FFFF;">
            {{currentMatch.fighterBlue.fullName}}
        </div>
        <div class="col-xs-1" align="left" style="background-color: #66FFFF;">
            {{currentMatch.scoreBlue}}
        </div>
        <div class="col-xs-1" align="right" style="background-color: #FF6666;">
            {{currentMatch.scoreRed}}
        </div>
        <div class="col-xs-5" align="right" style="background-color: #FF6666;">
            {{currentMatch.fighterRed.fullName}}
        </div>
    </div>
</div>
