<h2 align="center">
    <span class="d-none d-md-inline">
        <a href="#!ShowCompetition/{{currentMatch.CompetitionId}}">{{currentMatch.Competition}}</a>
        - <a href="#!ShowPhase/{{currentMatch.PhaseId}}">{{currentMatch.Phase}}</a> - </span>
    <span class="d-none d-sm-inline">
        <span ng-show="currentMatch.PoolId"><a href="#!ShowPool/{{currentMatch.PoolId}}">{{currentMatch.Pool}}</a> - </span>
    </span>{{currentMatch.Name}}
</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 bg-blue" align="left">
            <strong>{{currentMatch.FighterBlue}}</strong>
        </div>
        <div class="col-12 col-sm-6 bg-red" align="right">
            <strong>{{currentMatch.FighterRed}}</strong>
        </div>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-6 bg-blue text-nowrap" align="left">
            {{currentMatch.FighterBlueOrganization || '-'}}
        </div>
        <div class="col-6 bg-red text-nowrap" align="right">
            {{currentMatch.FighterRedOrganization || '-'}}
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <strong>{{currentMatch.LiveTime | timespan}}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bg-blue" align="center">
            <h1>{{currentMatch.ScoreBlue}}</h1>
        </div>
        <div class="col-6 bg-red" align="center">
            <h1>{{currentMatch.ScoreRed}}</h1>
        </div>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-12" align="center">
            <strong>{{currentMatch.ExchangeCount}}</strong> Exchanges<br />
            <strong>{{currentMatch.DoubleCount}}</strong> Doubles<br />
        </div>
    </div>
    <div class="row d-none d-md-flex">
        <div class="col-12" align="center">
            <table>
                <tr><th>Time</th><th>Event</th><th>Blue</th><th>Red</th></tr>
                <tr ng-repeat="event in currentMatch.Events">
                    <td>{{ event.Time | timespan }}</td>
                    <td>{{ event.Type }}</td>
                    <td class="bg-blue" align="center">{{ event.PointsBlue }}</td>
                    <td class="bg-red" align="center">{{ event.PointsRed }}</td>
                </tr>
                <tr ng-show="currentMatch.Events.length == 0">
                    <td colspan="4" align="center">No events yet</td>
                </tr>
            </table>
            <br />
            <span ng-show="currentMatch.Finished">Result: {{currentMatch.Result}}</span>
        </div>
    </div>
    <div ng-show="nextMatch" class="row">
        <div class="col-12" align="center">
            <strong>Next match</strong>
        </div>
        <div class="col-12" align="center">
            <span class="d-none d-md-inline">
                <a href="#!ShowCompetition/{{nextMatch.CompetitionId}}">{{nextMatch.Competition}}</a>
                - <a href="#!ShowPhase/{{nextMatch.PhaseId}}">{{nextMatch.Phase}}</a> -
            </span>
            <span class="d-none d-sm-inline">
                <span ng-show="nextMatch.PoolId"><a href="#!ShowPool/{{nextMatch.PoolId}}">{{nextMatch.Pool}}</a> - </span>
            </span>{{nextMatch.Name}}
        </div>
        <div class="col-12 col-sm-6 bg-blue" align="left">
            <strong>{{nextMatch.FighterBlue}}</strong>
        </div>
        <div class="col-12 col-sm-6 bg-red" align="right">
            <strong>{{nextMatch.FighterRed}}</strong>
        </div>
    </div>
</div>