<h2><a href="#!ShowCompetition/{{currentPhase.CompetitionId}}">{{currentPhase.Competition}}</a> - {{currentPhase.Name}}</h2>

<h3>Pools {{currentPhase.PoolsTotal}}</h3>
<table>
    <tr><th>Pool</th><th>Location</th><th>Fighters</th><th>Matches</th></tr>
    <tr ng-repeat="pool in currentPhase.Pools">
        <td><a href="#!ShowPool/{{pool.Id}}">{{ pool.Name }}</a></td>
        <td>{{ pool.Location }}</td>
        <td>{{ pool.FightersTotal }}</td>
        <td>
            <i class="fa fa-calendar" aria-hidden="true"></i> {{pool.MatchesTodo}}
            <i class="fa fa-play" aria-hidden="true"></i> {{pool.MatchesBusy}}
            <i class="fa fa-check" aria-hidden="true"></i> {{pool.MatchesFinished}}
        </td>
    </tr>
    <tr>
        <td><input type="text" ng-model="newPoolName" /></td>
        <td><input type="text" ng-model="newPoolLocationName" /></td>
        <td><button ng-click="createPhasePool()">Create</button></td>
    </tr>
</table>
<button ng-show="currentPhase.PoolsTotal > 0" ng-click="distributeFighters()">Distribute fighters over the pools</button>
<br />
<h3>Fighters {{currentPhase.FightersTotal}}</h3>
<label>Search: <input type="text" ng-model="searchFighterText"></label>
<table>

    <tr>
        <th ng-click="fighterSortType = 'FirstName'; fighterSortReverse=!fighterSortReverse">Firstname</th>
        <th ng-click="fighterSortType = 'LastName'; fighterSortReverse=!fighterSortReverse">LastName</th>
        <th ng-click="fighterSortType = 'Organization'; fighterSortReverse=!fighterSortReverse">Organization</th>
        <th ng-click="fighterSortType = 'CountryCode'; fighterSortReverse=!fighterSortReverse">Country</th>
        <th ng-click="fighterSortType = 'Pool'; fighterSortReverse=!fighterSortReverse">Pool</th>
    </tr>
    <tr ng-repeat="fighter in currentPhase.Fighters | filter:searchFighterText | orderBy:fighterSortType:fighterSortReverse">
        <td colspan="2">{{fighter.DisplayName}}</td>
        <td>{{fighter.Organization}}</td>
        <td><img alt="{{fighter.CountryCode}}" title="{{fighter.CountryName}}" ng-src="Content/flags/{{fighter.CountryCode?fighter.CountryCode:'none'}}.svg" height="20" width="30" /></td>
        <td>{{fighter.Pool}}</td>
    </tr>
</table>
<button ng-click="addAllFighters()">Add all from competition</button>

<h3>Matches {{currentPhase.MatchesTotal}}</h3>
<label>Search: <input type="text" ng-model="searchMatchText"></label>
<table>
    <tr>
        <th ng-click="matchSortType = 'Name'; matchSortReverse=!matchSortReverse">Match</th>
        <th ng-show="currentPhase.PoolsTotal > 0" ng-click="matchSortType = 'Pool'; matchSortReverse=!matchSortReverse">Pool</th>
        <th>
            <i ng-click="matchSortType = 'PlannedDateTime'; matchSortReverse=!matchSortReverse" class="fa fa-calendar" aria-hidden="true"></i> {{currentPhase.MatchesTodo}}
            <i ng-click="matchSortType = 'StartedDateTime'; matchSortReverse=!matchSortReverse" class="fa fa-play" aria-hidden="true"></i> {{currentPhase.MatchesBusy}}
            <i ng-click="matchSortType = 'FinishedDateTime'; matchSortReverse=!matchSortReverse" class="fa fa-check" aria-hidden="true"></i> {{currentPhase.MatchesFinished}}
        </th>
        <th class="bg-lightblue" ng-click="matchSortType = 'FighterBlue'; matchSortReverse=!matchSortReverse">Blue</th>
        <th class="bg-lightred" ng-click="matchSortType = 'FighterRed'; matchSortReverse=!matchSortReverse">Red</th>
    </tr>
    <tr ng-repeat="match in currentPhase.Matches | filter:searchMatchText | orderBy:matchSortType:matchSortReverse">
        <td>{{ match.Name }}</td>
        <td ng-show="currentPhase.PoolsTotal > 0"><a href="#!ShowPool/{{match.PoolId}}">{{ match.Pool }}</a></td>
        <td ng-show="!match.Started && !match.Finished && !match.Planned"></td>
        <td ng-show="!match.Started && !match.Finished && match.Planned"><i class="fa fa-calendar" aria-hidden="true"></i> <time>{{ match.PlannedDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</time></td>
        <td ng-show="match.Started && !match.Finished"><i class="fa fa-play" aria-hidden="true"></i> <time>{{ match.StartedDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</time></td>
        <td ng-show="match.Finished"><i class="fa fa-check" aria-hidden="true"></i> <time>{{ match.FinishedDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</time></td>
        <td class="bg-lightblue">{{ match.FighterBlue }}</td>
        <td class="bg-lightred">{{ match.FighterRed }}</td>
        <td><i class="fa fa-pencil" aria-hidden="true"></i> <a ng-show="!match.Finished" href="#!ScoreKeeper/{{match.Id}}"><i class="fa fa-play" aria-hidden="true"></i></a></td>
    </tr>
</table>
<button ng-show="currentPhase.PoolsTotal == 0 && currentPhase.FightersTotal > 1" ng-click="generateMatches()">Generate Matches</button>
<button ng-show="currentPhase.MatchesTotal > 0 && currentPhase.FightersTotal > 1" ng-click="generateMatches()">Generate Matches</button>
